<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CoreSSO" connectionString="Server=.\sqlexpress;Database=CoreSSO;User Id=sa;Password=S@12345;TransparentNetworkIPResolution=False;" providerName="System.Data.SqlClient" />
    <!--<add name="CoreSSO" connectionString="Server=10.49.16.23\SME_PRD;Database=CoreSSO;User Id=Ricardo.Silva;Password=$Idoc+THa1oC4efRidRO;TransparentNetworkIPResolution=False;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--<appSettings>
    <add key="domain" value="educacao"/>
    <add key="container" value="DC=educacao,DC=intranet"/>
    <add key="userAD" value="sv-core_ad"/>
    <add key="passwordAD" value="86OR=nuX_zI"/>
  </appSettings>-->
  <appSettings>
    <add key="domain" value="amcom"/>
    <add key="container" value="DC=amcom,DC=intranet"/>
    <add key="userAD" value="robson.silva"/>
    <add key="passwordAD" value="Dyl@n08122010"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>

